<head>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<div id="mapdiv" style="width:;height:80%;"></div>
<div id="hoverinfo" style="width:10px;height:10px"></div>
<script type="text/javascript">
  var mapDiv = document.getElementById('mapdiv');
  var imgs = {{ centers.imgs |safe }};
  var center_names = {{ centers.text |safe }};
  var data = []
  {% for num, cluster in all.items %}
    var c = {
      type: 'scattermapbox',
      lat:{{ cluster.lat }},
      lon: {{ cluster.lon }},
      mode:'markers',
      marker: {
        size:2
      },
      text:{{ cluster.text |safe}}
    }
    data.push(c);
  {% endfor %}
  data.push({
      type:'scattermapbox',
      lat:{{ centers.lat }},
      lon: {{ centers.lon }},
      mode:'markers',
      marker: {
        size:9
      },
      text:{{ centers.text |safe}}
    })
  var layout = {
    autosize: true,
    hovermode:'closest',
    mapbox: {
    bearing:0,
    center: {
      lat:{{ centers.lat_center }},
      lon: {{ centers.lon_center }}
    },
      pitch:0,
      zoom:3
    },
  }
  Plotly.setPlotConfig({mapboxAccessToken: 'pk.eyJ1IjoibWFjaDY0IiwiYSI6ImNqbm5jYWdnMTI1MDQzcG9zbDhoNzUxeTEifQ.WJfcb1Yp0wN4FKNS4MUdNw'})

Plotly.plot('mapdiv', data, layout)
var hoverInfoDiv = document.getElementById('hoverinfo')

mapDiv.on('plotly_hover', function(data){
  if(!data.points[0].text.startsWith('Cluster')){return;}
  var hoverinfo = data.points.map(function (d) {
    return "<img src=data:image/png;base64,"+imgs[center_names.indexOf(d.text)]+">";
  })
  hoverInfoDiv.innerHTML=hoverinfo;
  $('mapdiv').toggle();
})
  .on('plotly_unhover', function(data){
    hoverInfoDiv.innerHTML = '';
});
</script>
