{% extends 'dashboard/base.html' %}

{% block map %}

<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <style>
      .parent{
        width: 100%;
      }
      .child{
        display: inline-block;
      }
      #mapdiv{
        width: 55%;
        height: 80%;
      }
      #hoverinfo{
        width: 40%;
        min-height: 80%;
      }
      .plotimage{
        top: 10px;
      }
      body{
        background: none;
      }
    </style>
  <div class="parent">
    <div class="child" id="mapdiv"></div>
    <div class="child" id="hoverinfo"></div>
  </div>
  <script type="text/javascript">
    var mapDiv = document.getElementById('mapdiv');
    var imgs = {{ centers.imgs |safe }};
    var center_names = {{ centers.text |safe }};
    var data = []
    {% for num, cluster in all.items %}
      data.push({
        type: 'scattermapbox',
        lat:{{ cluster.lat }},
        lon: {{ cluster.lon }},
        mode:'markers',
        marker: {
          size:3
        },
        text:{{ cluster.text |safe}},
        name:'Cluster ' +(1+ {{ num }}) 
      });
    {% endfor %}
    data.push({
        type:'scattermapbox',
        lat:{{ centers.lat }},
        lon: {{ centers.lon }},
        mode:'markers',
        marker: {
          size:9
        },
        text:{{ centers.text |safe}},
        name:'Cluster center'
      })
    var layout = {
      autosize: true,
      hovermode:'closest',
      mapbox: {
      bearing:0,
      center: {
        lat:{{ centers.lat_center }},
        lon: {{ centers.lon_center }}
      },
        pitch:0,
        zoom:4,
        style: 'mapbox://styles/mapbox/streets-v9'

      },
    }
    Plotly.setPlotConfig({mapboxAccessToken: 'pk.eyJ1IjoibWFjaDY0IiwiYSI6ImNqbm5jYWdnMTI1MDQzcG9zbDhoNzUxeTEifQ.WJfcb1Yp0wN4FKNS4MUdNw'})
  
  Plotly.plot('mapdiv', data, layout)
  var hoverInfoDiv = document.getElementById('hoverinfo')
  
  mapDiv.on('plotly_hover', function(data){
    if(!data.points[0].text.startsWith('Cluster')){return;}
    var hoverinfo = data.points.map(function (d) {
      return "<img class=\"plotimage\" src=data:image/png;base64,"+imgs[center_names.indexOf(d.text)]+">";
    })
    hoverInfoDiv.innerHTML=hoverinfo;
    $('mapdiv').toggle();
  })
    .on('plotly_unhover', function(data){
      hoverInfoDiv.innerHTML = '';
  });
  </script>
{% endblock %}