{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <style>
            body{
                background-image: url('{% static "/dashboard/images/bg.jpeg" %}')
            }
        </style>

        <script>
            $(document).ready(function(){
                $('select').formSelect();
                $('.tabs').tabs();
            });
            var getLoc = function() {
                url = 'https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyCBQbi9bAaFxNcU17gYOeaPc8XgzvTNzCs'
                fetch(url, {method:'POST', data:{}})
                .then(function(res){
                    console.log(res);
                });
            };
        </script>
    </head> 

    <body>
        <nav>
            <div class="nav-wrapper grey darken-3">
                <a href="/dashboard" class="brand-logo">&nbsp;&nbsp;Disaster Hub</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/dashboard/show">See Donations</a></li>
                    <li><a href="/first_aid_help">First Aid Help</a></li>
                    <li><a href="/accounts/login">Login</a></li>
                    <li><a href="/accounts/signup">Register</a></li>
                </ul>
            </div>

        </nav>

        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>